### Importing necessary libraries

In [64]:
import ssl
import pandas as pd
from urllib.request import urlopen
import yfinance as yf

#Disable warnings
import warnings
warnings.filterwarnings("ignore")

### Importing constituents of the SP500 index

In [65]:
# Disabling SSL certificate verification
ssl._create_default_https_context = ssl._create_unverified_context

# Fetch S&P 500 constituents from Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
spx_df = pd.read_html(urlopen(url))[0]
spx_df.index = spx_df['Symbol']
spx_df = spx_df.drop(columns=['Symbol', 'CIK', 'Founded'])

#changing the symbol containing a dot to a dash
spx_df.index = spx_df.index.str.replace('.', '-')

### Listing Best and Worst performing stocks of the day

**Best and Worst performers of the day**

In [66]:
today = pd.Timestamp.today()
today_str = today.strftime('%Y-%m-%d')

#if today is a weekend, we need to get the last day of the week 
#getting the close price of the last day
if(today.weekday() == 6):
    today = today - pd.Timedelta(days=2)
    last_day = today - pd.Timedelta(days=1)
elif(today.weekday() == 5):
    today = today - pd.Timedelta(days=1)
    last_day = today - pd.Timedelta(days=1)
else:
    last_day = today - pd.Timedelta(days=1)

In [67]:
#getting the return of each stock in the S&P 500
SPX_returns = pd.DataFrame(index = spx_df.index, columns=['Return', 'Security', 'Sector', 'Industry'])
SPX_returns['Security'] = spx_df['Security']
SPX_returns['Sector'] = spx_df['GICS Sector']
SPX_returns['Industry'] = spx_df['GICS Sub-Industry']
for ticker in spx_df.index:
    try:
        stock = yf.Ticker(ticker)
        stock_data = stock.history(start=last_day, end=today)
        stock_return = (stock_data['Close'][-1] - stock_data['Close'][0])/stock_data['Close'][0]
        SPX_returns.loc[ticker, 'Return' ] = stock_return
    except:
        print('Error getting data for ' + ticker)

In [68]:
#listing the top 10 stocks with the highest return
SPX_returns = SPX_returns.sort_values(by='Return', ascending=False)
print('Top 10 stocks with the highest return in the S&P 500 of ', today_str, ':', sep='')
SPX_returns.head(10).style.background_gradient(cmap='YlGn', subset=['Return'])

Top 10 stocks with the highest return in the S&P 500 of 2024-02-10:

In [69]:
#listing the top 10 stocks with the lowest return
SPX_returns = SPX_returns.sort_values(by='Return', ascending=True)
print('Top 10 stocks with the lowest return in the S&P 500 of ', today_str, ':', sep='')
SPX_returns.head(10).style.background_gradient(cmap='autumn', subset=['Return'])

Top 10 stocks with the lowest return in the S&P 500 of 2024-02-10: